/* google fonts*/
@import url(https://www.electricrate.com/data-center/basics-of-electricity/);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  right: 20px;
}
.active{
  color: lightseagreen;
  text-decoration: underline;
  font-weight: bold;
}
/* Navbar */
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: whitesmoke;
}
.nav-links{
  display: flex;
  align-items: center;
}
.nav-links li{
  margin: 0 30px;
}
header{
  width: 125vw;
  height: 100vh;
  background-image: url('../../img.html/img1.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content{
  margin-right: 150px;
  color: black;
  text-align: center;
}
.header-content h2{
  font-size: 4vmin;

}
.line{
  width: 150px;
  height: 4px;
  background: lightseagreen;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1{
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ctn{
  padding: 8px 15px;
  background: lightskyblue;
  border-radius: 30px;
  color: black
}
/*Consumption*/
section{
  width: 80%;
  margin: 80px auto;
}
.title{
  text-align: center;
  font-size: 4vmin;
  color: black;
}
.row{
  width: 50vw;
}
h4{
  color: black;
}
p{
  padding: 0px 40px;
  color: black;
  text-align: justify;
  justify-content: center ;
}